[submodule "libgit2"]
	path = libgit2
	url = https://github.com/libgit2/libgit2.git
	shallow = true
[submodule "expected"]
	path = expected
	url = https://github.com/TartanLlama/expected.git
	shallow = true
[submodule "libfmt"]
	path = libfmt
	url = https://github.com/fmtlib/fmt.git
	shallow = true

